@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,300;0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

$vertical-margin: 1.5rem;
$roundness: 0.2rem;

@import 'highlight';

html {
  font-size: 20px;
  @media (max-width: 480px) {
    font-size: 18px;
  }

  --theme: #ffdd66;
  --background: #fffefa;
  --main-text: #333333;
  --bold-text: #000000;
  --dim-text: #7a7a7a;
  --line: #c7c7c7;
  --link-text: #0071b3;
  --code-bg: #ffe999;
  --code-line: var(--background);
  --code-text: #1a1a1a;
  --codeblock-bg: #282c34;
  --codeblock-text: #abb2bf;
  --highlight-bg: #fcf3cf;

  @media (prefers-color-scheme: dark) {
    body {
      --background: #19191a;
      --main-text: #cccccc;
      --bold-text: #e6e6e6;
      --dim-text: #808080;
      --line: #4d4d4d;
      --link-text: #008ee6;
      --code-bg: #111111;
      --code-line: #000000;
      --code-text: #ffdd66;
      --codeblock-bg: #111111;
      --highlight-bg: #222222;
    }
  }
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--main-text);
  font-family: 'Lato', sans-serif;

  text-align: justify;
  @media (max-width: 480px) {
    text-align: left;
  }

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--bold-text);
  font-family: 'Neuton', serif;
  font-weight: 700;
}

h1 {
  text-align: center;
  font-size: 2.6rem;
  margin: 3rem 0 3rem;
  @media (max-width: 480px) {
    font-size: 2.1rem;
  }
}
h2 {
  font-size: 1.6rem;
  margin: 2.5rem 0 1rem;
  @media (max-width: 480px) {
    font-size: 1.5rem;
  }
}
h3 {
  font-size: 1.2rem;
}

h3,
h4,
h5,
h6 {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

h1.has-subtitle {
  margin-top: 3rem;
  margin-bottom: 0;
  & + h2 {
    margin-top: 0;
    margin-bottom: 3rem;
    text-align: center;
  }
}

main,
footer {
  max-width: 35rem;
  margin: $vertical-margin auto;
  padding: 0 1rem;
}

footer {
  margin-bottom: 2rem;
  text-align: center;
}

small {
  font-size: 0.7rem;
  font-variant: all-small-caps;
  text-transform: lowercase;
}

.stripe {
  height: $roundness;
  background-color: var(--theme);
}

p,
ul,
ol,
div,
pre,
img,
figure,
blockquote {
  margin: 0 0 $vertical-margin;
}

p,
li {
  font-size: 0.95rem;
  line-height: 1.5rem;
}

blockquote p:last-child {
  margin-bottom: 0;
}
blockquote p:first-child {
  margin-top: 0;
}

blockquote {
  background-color: var(--highlight-bg);
  padding: 1rem;
  font-weight: 300;
  font-style: italic;
  border-radius: $roundness;
}

img {
  max-width: 100%;
}

ul,
ol {
  padding-left: 2rem;
}
li {
  margin-bottom: 0.2rem;
}

a {
  color: var(--link-text);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

code {
  font-size: 0.85rem;
  line-height: 1.2rem;
  font-family: 'Fira Mono', monospace;
}

p > code,
li > code {
  background-color: var(--code-bg);
  color: var(--code-text);
  border: 1px solid var(--code-line);
  border-radius: $roundness;
  padding: 0.1rem 0.2rem;
}

hr {
  border: none;
  border-top: 1px dashed var(--line);
  margin: $vertical-margin auto;
}

.fancy {
  text-align: center;
  border-bottom: 1px dashed var(--line);
  margin: 3rem auto 0;
}

.fancy span {
  display: inline-block;
  color: var(--dim-text);
  background: var(--background);
  padding: 0 0.5rem;
  position: relative;
  top: 0.4rem;
}

pre {
  background-color: var(--codeblock-bg);
  color: var(--codeblock-text);
  padding: 1rem;
  border-radius: $roundness;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

pre,
blockquote {
  @media (max-width: 480px) {
    margin: 0 -1rem $vertical-margin;
    border-radius: 0;
  }
}
