---
layout: default
---

<article>
  <div class="fancy">
    <span>
        {% if page.description %}
          <small>{{ page.description }}</small>
        {% else %}
          <small>{{ page.date | date: "%-d %B %Y" }}</small>
          <small>{{ page.emoji | default: "&middot;" }}</small>
          <small>{{ page.content | number_of_words | divided_by: 250 | plus: 1 }} min read</small>
        {% endif %}
    </span>
  </div>

  <h1{% if page.subtitle %} class="has-subtitle"{% endif %}>{{ page.title }}</h1>
  {% if page.subtitle %}<h2>{{ page.subtitle }}</h2>{% endif %}

  <section>
    {{ content }}
  </section>
</article>
